@import "modules/slider_box";
@import "modules/keyframes";
@import "../../node_modules/normalize.scss/normalize";


.slider_block_1{
  margin-top: 100px;
  width: 400px;
  height: 280px;
  border: 1px solid red;
  display: inline-block;
  margin-left: 50px;
}

.slider_block_2{
  margin-top: 100px;
  width: 400px;
  height: 280px;
  border: 1px solid red;
  display: inline-block;
  margin-left: 50px;
}

.slider_block_3{
  margin-top: 100px;
  width: 300px;
  height: 180px;
  border: 1px solid red;
  display: inline-block;
  margin-left: 50px;
}




